    <div class="well">
      <h3>Single Stat Widget</h3>
      <p>
        <span id="last_update" style="display:none;" class="glyphicon glyphicon-warning-sign icon-warn"></span>
        <!--add cluster fsid for informational purposes-->
        <small id="cluster_fsid">8dudieie</small>
      </p>
    </div>

