USERNAME: foo 
PASSWORD: bar 
LOCAL_ROOT: "./configs"

SERVERS:
  -
      ssh_ip: "<ssh ip address>"
      role: controller|compute|storage
  -
      ssh_ip: "<ssh ip address>"
      role: controller|compute|storage
  -
      ssh_ip: "<ssh ip address>"
      role: controller|compute|storage

SERVICES:
  -
    name: rabbitmq
    configpath: /etc/rabbitmq
  - 
    name: mysql
    configpath: /etc/mysql


